<div class="ads-container">
  <div class="info-container">
    <h2 class="head">Properties for sale</h2>
    <button class="add-button"><i class="fas fa-plus"></i>
      <p>Add property</p>
    </button>
  </div>
  <div class="search-container">
    <div class="search"><i class="fas fa-search"></i>SEARCH</div>
  </div>
  <a class="filter">Filter<i class="fas fa-chevron-down"></i></a>
  <div class="grid-container">
    <div class="container">
      <div class="ad-container">
        <div class="img-container">
          <img src="https://source.unsplash.com/random">
        </div>
        <div class="info">
          <p class="price">$100,000</p>
          <p class="name">Cozy Apartment</p>
          <div class="location">
            <p>Kraków, Poland</p><i class="far fa-heart"></i>
          </div>
          <div class="additional">
            <i class="fas fa-home"></i>
            <p>65m<sup>2</sup></p>
            <i class="fas fa-bed"></i>
            <p>2</p>
            <i class="fas fa-bath"></i>
            <p>3</p>
          </div>
        </div>
      </div>
      <div class="ad-container">
        <div class="img-container">
          <img src="https://source.unsplash.com/random">
        </div>
        <div class="info">
          <p class="price">$100,000</p>
          <p class="name">Cozy Apartment</p>
          <div class="location">
            <p>Kraków, Poland</p><i class="far fa-heart"></i>
          </div>
          <div class="additional">
            <i class="fas fa-home"></i>
            <p>65m<sup>2</sup></p>
            <i class="fas fa-bed"></i>
            <p>2</p>
            <i class="fas fa-bath"></i>
            <p>3</p>
          </div>
        </div>
      </div>
      <div class="ad-container">
        <div class="img-container">
          <img src="https://source.unsplash.com/random">
        </div>
        <div class="info">
          <p class="price">$100,000</p>
          <p class="name">Cozy Apartment</p>
          <div class="location">
            <p>Kraków, Poland</p><i class="far fa-heart"></i>
          </div>
          <div class="additional">
            <i class="fas fa-home"></i>
            <p>65m<sup>2</sup></p>
            <i class="fas fa-bed"></i>
            <p>2</p>
            <i class="fas fa-bath"></i>
            <p>3</p>
          </div>
        </div>
      </div>
      <div class="ad-container">
        <div class="img-container">
          <img src="https://source.unsplash.com/random">
        </div>
        <div class="info">
          <p class="price">$100,000</p>
          <p class="name">Cozy Apartment</p>
          <div class="location">
            <p>Kraków, Poland</p><i class="far fa-heart"></i>
          </div>
          <div class="additional">
            <i class="fas fa-home"></i>
            <p>65m<sup>2</sup></p>
            <i class="fas fa-bed"></i>
            <p>2</p>
            <i class="fas fa-bath"></i>
            <p>3</p>
          </div>
        </div>
      </div>
      <div class="ad-container">
        <div class="img-container">
          <img src="https://source.unsplash.com/random">
        </div>
        <div class="info">
          <p class="price">$100,000</p>
          <p class="name">Cozy Apartment</p>
          <div class="location">
            <p>Kraków, Poland</p><i class="far fa-heart"></i>
          </div>
          <div class="additional">
            <i class="fas fa-home"></i>
            <p>65m<sup>2</sup></p>
            <i class="fas fa-bed"></i>
            <p>2</p>
            <i class="fas fa-bath"></i>
            <p>3</p>
          </div>
        </div>
      </div>
      <div class="ad-container">
        <div class="img-container">
          <img src="https://source.unsplash.com/random">
        </div>
        <div class="info">
          <p class="price">$100,000</p>
          <p class="name">Cozy Apartment</p>
          <div class="location">
            <p>Kraków, Poland</p><i class="far fa-heart"></i>
          </div>
          <div class="additional">
            <i class="fas fa-home"></i>
            <p>65m<sup>2</sup></p>
            <i class="fas fa-bed"></i>
            <p>2</p>
            <i class="fas fa-bath"></i>
            <p>3</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
