<div class="ad-container-one">
  <div class="float">
    <div class="ad-info">
      <div class="main-info">
        <div class="loc">
          <h3>{{adTile.adName}}<i class="far fa-heart"></i></h3>
          <p><i class="fas fa-map-marker-alt"></i>{{adTile.city}}, {{adTile.country}}</p>
        </div>
        <div *ngIf="adTile.adType == 'SALE'; else myElse">
          <h3>{{adTile.price}} zł</h3>
        </div>
        <ng-template #myElse>
          <h3>{{adTile.price}} zł/mth</h3>
        </ng-template>
      </div>
      <div class="img-ad">
        <img src={{currentImage}} alt="">
        <i (click)="mySlide($event)" class="fas fa-chevron-right"></i>
      </div>
      <div class="details">
        <h3>Details</h3>
        <p>
          <span>Bedrooms: <span class="val">{{adTile.numberOfBedrooms}}</span></span>
          <span>Bathrooms: <span class="val">{{adTile.numberOfBathrooms}}</span></span>
        </p>
        <p>
          <span>Plot Surface: <span class="val"> {{adTile.plotSurface}}m<sup>2</sup></span></span>
          <span>Floor: <span class="val">{{adDetails.floor}}<sup>rd</sup></span> </span>
        </p>
      </div>
    </div>
    <div class="user-info">
      <div class="user-div">
        <div class="user-img">
        </div>
        <p>{{adDetails.userName}}</p>
        <p>{{adDetails.userPhone}}</p>
        <a href="mailto:{{adDetails.userEmail}}"><i class="far fa-envelope"></i> email me</a>
      </div>
      <p class="add" (click)="addToFavourites()"><i class="far fa-heart"></i> Add to favorites</p>
      <div *ngIf="adDetails.userId === authService.currentUserValue.id">
      <p class="add" (click)="editAd()">Edit offer</p>
    </div>
    </div>
  </div>
  <section>
    <h3>Description</h3>
    <p>{{adDetails.description}}</p>
  </section>
  <section>
    <h3>Localization</h3>
    <div class="map">
      <div id="mapid"></div>
    </div>
  </section>
  <div class="user-div">
    <div class="user-img"></div>
    <p>{{adDetails.userName}}</p>
    <p>{{adDetails.userPhone}}</p>
    <a href="mailto:{{adDetails.userEmail}}"><i class="far fa-envelope"></i> email me</a>
  </div>
  <footer></footer>
</div>
