<div class="ad-container-one">
  <div class="float">
    <div class="ad-info">
      <div class="main-info">
        <div class="loc">
          <h3>Cozy Apartment <i class="far fa-heart"></i></h3>
          <p><i class="fas fa-map-marker-alt"></i>Kraków, Poland</p>
        </div>
        <h3>$100,000</h3>
      </div>
      <div class="img-ad">
        <img src="https://source.unsplash.com/random" alt="">
      </div>
      <div class="details">
        <h3>Details</h3>
        <p>
          <span>Bedrooms: <span class="val"> 3</span></span>
          <span>Bathrooms: <span class="val"> 3</span></span>
        </p>
        <p>
          <span>Plot Surface: <span class="val"> 3</span></span>
          <span>Floor: <span class="val">3<sup>rd</sup></span> </span>
        </p>
      </div>
    </div>
    <div class="user-info">
      <div class="user-div">
        <div class="user-img">
        </div>
        <p>Tiffany</p>
        <p>+48 332 123 456</p>
        <p><i class="far fa-envelope"></i> email me</p>
      </div>
      <p class="add"><i class="far fa-heart"></i> Add to favorites</p>
    </div>
  </div>
  <section>
    <h3>Description</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa fugiat animi doloremque natus veritatis, minima
      dolore quo excepturi impedit harum earum architecto unde nisi similique praesentium quisquam molestiae commodi
      suscipit? Doloribus dolorum cum illum. Consectetur illum ex voluptatem officia animi nobis consequuntur, vitae
      fuga, iste omnis optio possimus fugit iure! Distinctio harum autem quibusdam incidunt?</p>
  </section>
  <section>
    <h3>Localization</h3>
    <div class="map">
    </div>
  </section>
  <div class="user-div">
    <div class="user-img"></div>
    <p>Tiffany</p>
    <p>+48 332 123 456</p>
    <p><i class="far fa-envelope"></i> email me</p>
  </div>
  <footer></footer>
</div>