<div class="ads-container">
  <div class="info-container">
    <h2 class="head">Your favorites</h2>
    <button class="add-button"><i class="fas fa-plus"></i>
      <p>Add property</p>
    </button>
  </div>
  <div class="search-container">
    <div class="search"><i class="fas fa-search"></i>SEARCH</div>
  </div>
  <div class="grid-container">
    <div class="container">
      <app-ad-tile></app-ad-tile>
      <app-ad-tile></app-ad-tile>
      <app-ad-tile></app-ad-tile>
      <app-ad-tile></app-ad-tile>

    </div>
  </div>
</div>
