<div class="profile-container">
  <h3 class="profile-h3">My profile</h3>
  <div class="profile-flex-container">
    <div class="user-info">
      <div class="img-profile">
      </div>
      <p>Juliett</p>
      <p>somenickname</p>
      <p>somemail@com.pl</p>
      <p>22 33 44 55 66</p>
      <button class="add-button">
        <p>Edit data</p>
      </button>
    </div>
    <div class="ad-info">
      <h3 class="h3-ad">My ads</h3>
      <div class="list-ad-profile">
        <div class="ad-container">
          <div class="img-container">
            <img src="https://source.unsplash.com/random">
          </div>
          <div class="info">
            <p class="price">$100,000</p>
            <p class="name">Cozy Apartment</p>
            <div class="location">
              <p>Kraków, Poland</p><i class="far fa-heart"></i>
            </div>
            <div class="additional">
              <i class="fas fa-home"></i>
              <p>65m<sup>2</sup></p>
              <i class="fas fa-bed"></i>
              <p>2</p>
              <i class="fas fa-bath"></i>
              <p>3</p>
            </div>
          </div>
        </div>
        <div class="ad-container">
          <div class="img-container">
            <img src="https://source.unsplash.com/random">
          </div>
          <div class="info">
            <p class="price">$100,000</p>
            <p class="name">Cozy Apartment</p>
            <div class="location">
              <p>Kraków, Poland</p><i class="far fa-heart"></i>
            </div>
            <div class="additional">
              <i class="fas fa-home"></i>
              <p>65m<sup>2</sup></p>
              <i class="fas fa-bed"></i>
              <p>2</p>
              <i class="fas fa-bath"></i>
              <p>3</p>
            </div>
          </div>
        </div>
        <div class="ad-container">
          <div class="img-container">
            <img src="https://source.unsplash.com/random">
          </div>
          <div class="info">
            <p class="price">$100,000</p>
            <p class="name">Cozy Apartment</p>
            <div class="location">
              <p>Kraków, Poland</p><i class="far fa-heart"></i>
            </div>
            <div class="additional">
              <i class="fas fa-home"></i>
              <p>65m<sup>2</sup></p>
              <i class="fas fa-bed"></i>
              <p>2</p>
              <i class="fas fa-bath"></i>
              <p>3</p>
            </div>
          </div>
        </div>
        <div class="ad-container">
          <div class="img-container">
            <img src="https://source.unsplash.com/random">
          </div>
          <div class="info">
            <p class="price">$100,000</p>
            <p class="name">Cozy Apartment</p>
            <div class="location">
              <p>Kraków, Poland</p><i class="far fa-heart"></i>
            </div>
            <div class="additional">
              <i class="fas fa-home"></i>
              <p>65m<sup>2</sup></p>
              <i class="fas fa-bed"></i>
              <p>2</p>
              <i class="fas fa-bath"></i>
              <p>3</p>
            </div>
          </div>
        </div>
        <div class="ad-container">
          <div class="img-container">
            <img src="https://source.unsplash.com/random">
          </div>
          <div class="info">
            <p class="price">$100,000</p>
            <p class="name">Cozy Apartment</p>
            <div class="location">
              <p>Kraków, Poland</p><i class="far fa-heart"></i>
            </div>
            <div class="additional">
              <i class="fas fa-home"></i>
              <p>65m<sup>2</sup></p>
              <i class="fas fa-bed"></i>
              <p>2</p>
              <i class="fas fa-bath"></i>
              <p>3</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
