.profile-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.profile-h3 {
  margin: 5em 0 1em 3em;
}

.profile-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  width: 80%;
  height: 75%;
  margin: auto;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
  width: 30%;
  height: 95%;
  box-shadow: 0 3px 6px #00000029;
}

.ad-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width: 60%;
  height: 95%;
  box-shadow: 0 3px 6px #00000029;
}

.img-profile {
  height: 15vh;
  width: 15vh;
  border-radius: 100%;
  overflow: hidden;
}

.img-profile img {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 100%;
}

.user-info > p {
  font-weight: 700;
  color: #7A7A7A;
}

.add-button {
  margin-bottom: 3em;
  margin-right: 0;
  padding: 1.2em 2.5em;
  transition: color .5s;
}

.add-button:hover {
  cursor: pointer;
  color: #00000029;
}

.h3-ad {
  align-self: flex-start;
}

.list-ad-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 92.5%;
  margin-top: 1em;
  overflow-y: scroll;
}

@media screen and (max-width: 950px), screen and (min-height: 1350px) {
  .profile-container {
    overflow-y: scroll;
  }

  .profile-flex-container {
    height: 100vh;
    margin-top: 2em;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
  }

  .user-info {
    width: 90vw;
    height: 90vh;
    margin-bottom: 2em;
  }

  .ad-info {
    width: 100vw;
    height: 60vh;
    box-shadow: none;
  }

  .list-ad-profile {
    overflow-y: visible;
    justify-content: space-evenly;
  }

  .add-button {
    margin-bottom: 1em;
  }

  .add-button p {
    display: inherit;
  }
}
