<div class="profile-container">
  <h3 class="profile-h3">My profile</h3>
  <div class="profile-flex-container">
    <div class="user-info">
      <div class="img-profile">
      </div>
      <p>Juliett</p>
      <p>somenickname</p>
      <p>somemail@com.pl</p>
      <p>22 33 44 55 66</p>
      <button class="add-button">
        <p>Edit data</p>
      </button>
    </div>
    <div class="ad-info">
      <h3 class="h3-ad">My ads</h3>
      <div class="list-ad-profile">
       <app-ad-tile></app-ad-tile>
       <app-ad-tile></app-ad-tile>
       <app-ad-tile></app-ad-tile>
       <app-ad-tile></app-ad-tile>
       <app-ad-tile></app-ad-tile>
       <app-ad-tile></app-ad-tile>
       <app-ad-tile></app-ad-tile>
      </div>
    </div>
  </div>
</div>
