.mess-list-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.user-tile {
  width: 100%;
  height: 100%;
  transition: background-color 1s ease-out;
  cursor: pointer;
}

.list-for {
  width: 100%;
  height: 10%;
}

.if-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-tile:hover {
  background-color: darkgray;
}

.user-placeholder {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
}

.user-placeholder p {
  font-weight: 700;
  font-size: 2em;
  margin-left: 1em;
}

.user-img {
  width: 18%;
  height: 80%;
  border-radius: 100%;
  background-color: darkcyan;
  margin-left: 1em;
}

.user-tile p {
  font-weight: 700;
  font-size: 1.5em;
  margin-left: 2em;

}
