<div class="add-container">
  <div class="search-address">
    <div id="autocomplete" class="autocomplete-container"></div>
  </div>
  <form [formGroup]="adFormGroup" class="ad-form" id="ad-form" (ngSubmit)="onSubmit()">
    <div class="form-group" formGroupName="ad">
      <div class="description">
        <div class="form-img">
          <label class="label-img" for="file-input">
            <i class="far fa-images"></i>
            <p id="choose">PRESS TO CHOOSE A FILE</p>
          </label>
          <input class="file-input" id="file-input" name="file" type="file">
        </div>
        <textarea formControlName="description" name="" form="ad-form" cols="30" rows="10" wrap="soft"
          placeholder="Write property description here"></textarea>
      </div>
      <div class="input-containr">
        <div class="inputs">
          <input formControlName="name" type="text" name="name" placeholder="name">
          <select formControlName="country">
            <option value="" disabled selected>Select country</option>
            <option *ngFor="let country of countries" [ngValue]="country">
              {{country.name}}
            </option>
          </select>
          <input formControlName="city" type="text" name="city" placeholder="city">
          <input formControlName="streetName" type="text" name="street name" placeholder="street name">
          <input formControlName="streetNumber" type="text" name="street number" placeholder="street number">
          <input formControlName="postalCode" type="text" name="postal code" placeholder="postal code">
          <select formControlName="adType">
            <option value="" disabled selected>Select ad type</option>
            <option *ngFor="let type of adTypes" [ngValue]="type">
              {{type}}
            </option>
          </select>
          <input formControlName="plotSurface" type="text" name="plot surface" placeholder="plot surface">
          <input formControlName="numberOfBedrooms" type="text" name="number of bedrooms"
            placeholder="number of bedrooms">
          <input formControlName="numberOfBathrooms" type="text" name="number of bathrooms"
            placeholder="number of bathrooms">
          <input formControlName="floor" type="text" name="floor number" placeholder="floor number">
          <input formControlName="price" type="text" name="price" placeholder="price">
        </div>
        <div class="submit-div">
          <button type="submit">CREATE</button>
        </div>
      </div>
    </div>
  </form>
</div>
