<div class="add-container">
  <div class="search-address">
    <div id="autocomplete" class="autocomplete-container"></div>
  </div>
  <form class="ad-form" id="ad-form" action="">
    <div class="description">
      <div class="form-img">
        <label class="label-img" for="file-input">
          <i class="far fa-images"></i>
          <p id="choose">PRESS TO CHOOSE A FILE</p>
        </label>
        <input class="file-input" id="file-input" name="file" type="file">
      </div>
      <textarea name="" form="ad-form" cols="30" rows="10" wrap="soft"
        placeholder="Write property description here"></textarea>
    </div>
    <div class="input-containr">
      <div class="inputs">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="country" placeholder="country">
        <input type="text" name="city" placeholder="city">
        <input type="text" name="street name" placeholder="street name">
        <input type="text" name="street number" placeholder="street number">
        <input type="text" name="postal code" placeholder="postal code">
        <input type="text" name="type" placeholder="type">
        <input type="text" name="plot surface" placeholder="plot surface">
        <input type="text" name="number of bedrooms" placeholder="number of bedrooms">
        <input type="text" name="number of bathrooms" placeholder="number of bathrooms">
        <input type="text" name="floor number" placeholder="floor number">
        <input type="text" name="price" placeholder="price">
      </div>
      <div class="submit-div">
        <button type="submit">CREATE</button>
      </div>
    </div>
  </form>
</div>
