<div class="add-container">
  <div class="search-address">
    <div id="autocomplete" class="autocomplete-container"></div>
  </div>
  <form [formGroup]="adFormGroup" class="ad-form" id="ad-form" (ngSubmit)="onSubmit()">
    <div class="form-group" formGroupName="ad">
      <div class="description">
        <div class="form-img">
          <label class="label-img" for="file-input">
            <i class="far fa-images"></i>
            <p id="choose">PRESS TO CHOOSE A FILE</p>
          </label>
          <input class="file-input" id="file-input" name="file" type="file" #adPhoto (change)="onFileChange($event)">
        </div>
        <img [src]="imageSrc" *ngIf="imageSrc" style="height: 200px; width:400px">
        <textarea formControlName="description" name="" form="ad-form" cols="30" rows="10" wrap="soft"
          placeholder="Write property description here"></textarea>
        <div *ngIf="description.errors && description.touched" class="validation-text">
          <div *ngIf="description.errors.required">
            Description is required
          </div>

          <div *ngIf="description.errors.minlength">
            Description must be at least 10 characters long
          </div>
        </div>
      </div>
      <div class="input-containr">
        <div class="inputs">
          <input formControlName="name" type="text" name="name" placeholder="name">
          <div *ngIf="name.errors && name.touched" class="validation-text">
            <div *ngIf="name.errors.required">
              <p> Name is required</p>
            </div>
          </div>
          <select formControlName="country">
            <option value="" disabled selected>Select country</option>
            <option *ngFor="let country of countries" [ngValue]="country">
              {{country.name}}
            </option>
          </select>
          <div *ngIf="country.errors && country.touched" class="validation-text">
            <div *ngIf="country.errors.required">
              Country is required
            </div>
          </div>
          <input formControlName="city" type="text" name="city" placeholder="city">
          <div *ngIf="city.errors && city.touched" class="validation-text">
            <div *ngIf="city.errors.required">
              City is required
            </div>
          </div>
          <input formControlName="streetName" type="text" name="street name" placeholder="street name">
          <div *ngIf="streetName.errors && streetName.touched" class="validation-text">
            <div *ngIf="streetName.errors.required">
              Street Name is required
            </div>
          </div>
          <input formControlName="streetNumber" type="text" name="street number" placeholder="street number">
          <div *ngIf="streetNumber.errors && streetNumber.touched" class="validation-text">
            <div *ngIf="streetNumber.errors.required">
              Street Number is required
            </div>
            <div *ngIf="streetNumber.errors.pattern">
              Street Number must be a number
            </div>
          </div>
          <input formControlName="postalCode" type="text" name="postal code" placeholder="postal code">
          <div *ngIf="postalCode.errors && postalCode.touched" class="validation-text">
            <div *ngIf="postalCode.errors.required">
              postal code is required
            </div>
          </div>
          <select formControlName="adType">
            <option value="" disabled selected>Select ad type</option>
            <option *ngFor="let type of adTypes" [ngValue]="type">
              {{type}}
            </option>
          </select>
          <div *ngIf="adType.errors && adType.touched" class="validation-text">
            <div *ngIf="adType.errors.required">
              Ad Type is required
            </div>
          </div>
          <input formControlName="plotSurface" type="text" name="plot surface" placeholder="plot surface">
          <div *ngIf="plotSurface.errors && plotSurface.touched" class="validation-text">
            <div *ngIf="plotSurface.errors.required">
              Plot Surface is required
            </div>
            <div *ngIf="plotSurface.errors.pattern">
              Plot Surface must be a number
            </div>
          </div>
          <input formControlName="numberOfBedrooms" type="text" name="number of bedrooms"
            placeholder="number of bedrooms">
          <div *ngIf="numberOfBedrooms.errors && numberOfBedrooms.touched" class="validation-text">
            <div *ngIf="numberOfBedrooms.errors.required">
              Number is required
            </div>
            <div *ngIf="numberOfBedrooms.errors.pattern">
              This field must be a number
            </div>
          </div>
          <input formControlName="numberOfBathrooms" type="text" name="number of bathrooms"
            placeholder="number of bathrooms">
          <div *ngIf="numberOfBathrooms.errors && numberOfBathrooms.touched" class="validation-text">
            <div *ngIf="numberOfBathrooms.errors.required">
              Number is required
            </div>
            <div *ngIf="numberOfBathrooms.errors.pattern">
              This field must be a number
            </div>
          </div>
          <input formControlName="floor" type="text" name="floor number" placeholder="floor number">
          <div *ngIf="floor.errors && floor.touched" class="validation-text">
            <div *ngIf="floor.errors.required">
              Number is required
            </div>
            <div *ngIf="floor.errors.pattern">
              This field must be a number
            </div>
          </div>
          <input formControlName="price" type="text" name="price" placeholder="price">
          <div *ngIf="price.errors && price.touched" class="validation-text">
            <div *ngIf="price.errors.required">
              Price is required
            </div>
            <div *ngIf="price.errors.pattern">
              This field must be a number
            </div>
          </div>
        </div>
        <div *ngIf="!editMode; else myElse" class="submit-div">
          <button type="submit">CREATE</button>
        </div>
        <ng-template #myElse>
          <button type="submit">UPDATE</button>
        </ng-template>
      </div>
    </div>
  </form>
</div>
