<nav>
  <i class="fas fa-bars"></i>
  <p class="logo" routerLink="/" routerLinkActive="active-link">apartmently</p>
  <ul>
    <li><a routerLink="/for-sale" routerLinkActive="active-link">buy</a></li>
    <li><a routerLink="/add-offer" routerLinkActive="active-link">sell</a></li>
    <li><a routerLink="/for-rent" routerLinkActive="active-link">rent</a></li>
    <div class="placeholder"></div>
    <div *ngIf='authService.isLoggedIn()'>
      <p class="logout" (click)="logout()">logout</p>
    </div>
    <a routerLink="/favorites" routerLinkActive="active-link"><i class="far fa-heart"></i></a>
    <div routerLink="/profile" routerLinkActive="active-link" class="img-container">
    </div>
  </ul>
  <a routerLink="/favorites" routerLinkActive="active-link" class="heart-mobile"><i class="far fa-heart"></i></a>
</nav>
