<nav>
  <!-- <i class="fas fa-bars"></i> -->
  <button mat-button [matMenuTriggerFor]="menu"><i class="fas fa-bars"></i></button>
  <mat-menu #menu="matMenu" xPosition="after">
    <button routerLink="/for-sale" routerLinkActive="active-link" mat-menu-item>BUY</button>
    <button routerLink="/add-offer" routerLinkActive="active-link" mat-menu-item>SELL</button>
    <button routerLink="/for-rent" routerLinkActive="active-link" mat-menu-item>RENT</button>
    <button routerLink="/profile" routerLinkActive="active-link" mat-menu-item>MY PROFILE</button>
    <div *ngIf='authService.isLoggedIn()'>
    <button (click)="logout()" mat-menu-item>LOGOUT</button>
  </div>
  </mat-menu>

  <p class="logo" routerLink="/" routerLinkActive="active-link">apartmently</p>
  <ul>
    <li><a routerLink="/for-sale" routerLinkActive="active-link">buy</a></li>
    <li><a routerLink="/add-offer" routerLinkActive="active-link">sell</a></li>
    <li><a routerLink="/for-rent" routerLinkActive="active-link">rent</a></li>
    <div class="placeholder"></div>
    <div *ngIf='authService.isLoggedIn()'>
      <p class="logout" (click)="logout()">logout</p>
    </div>
    <a routerLink="/favorites" routerLinkActive="active-link"><i class="far fa-heart"></i></a>
    <div routerLink="/profile" routerLinkActive="active-link" class="img-container">
      <img src={{imageUrl}}>
    </div>
  </ul>
  <a routerLink="/favorites" routerLinkActive="active-link" class="heart-mobile"><i class="far fa-heart"></i></a>
</nav>
