nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 8vh;
  top: 0;
  background-color: #48474B;
  justify-items: center;
  align-items: center;
  z-index: 10;
}

.logo {
  color: white;
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: "Century Gothic", sans-serif;
  outline: none;
  cursor: pointer;
}

img {
  height: 100%;
  width: auto;
}

li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  transition: color .5s;
}

li a:hover,
.fa-heart:hover, .fa-envelope:hover {
  color: #9b9898;
}

.fa-heart, .fa-envelope {
  color: white;
  font-size: 1.8em;
  transition: color .5s;
}

.img-container {
  width: 6vh;
  height: 6vh;
  border-radius: 100%;
  cursor: pointer;
  outline: none;
}

.mat-menu-trigger {
  background: none;
  border: none;
  font-size: 1em;
}


.placeholder {
  width: 35%;
}

.fa-bars {
  display: none;
}

.heart-mobile {
  display: none;
}

.logout {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
}

.logout:hover {
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    list-style: none;
    z-index: 10;
  }

  .logo {
    margin-left: 1em;
  }
}

@media screen and (max-width: 750px) {
  nav {
    justify-content: space-around;
  }

  ul,
  li,
  .placeholder,
  .img-container,
  ul > a {
    display: none;
  }

  .fa-bars {
    display: inline-block;
    color: white;
    font-size: 1.8em;
  }

  .heart-mobile {
    display: inline-block;
  }
}
