.container {
  width: 80vw;
  height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.5em;
}

.contact-list {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  box-shadow: -10px 3px 23px -3px rgba(119, 119, 119, 0.85);
}

.chat-window {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  box-shadow: 17px 0 23px -6px rgba(119, 119, 119, 0.85);
}

.reply {
  width: 100%;
  height: 18%;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

textarea {
  min-height: 35%;
  width: 80%;
  border-radius: 30px;
  appearance: none;
  outline: none;
  border: 0;
  margin: 1vh 1vh 2vh;
  text-align: justify;
  padding-left: 2.5vh;
  padding-top: 1.5em;
  box-shadow: 17px 10px 32px 11px rgba(119, 119, 119, 0.59);
}

button,
input[type="submit"] {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #48474B;
}

i {
  font-size: 2em;
}

i:hover {
  color: #0DAAC3;

}

.pdf {
  width: 7vw;
  height: 5vh;
  background: #0DAAC3 0 0 no-repeat padding-box;
  box-shadow: 0 8px 8px #00000029;
  border: 1px solid #0DAAC3;
  border-radius: 25px;
  vertical-align: middle;
  color: white;
  text-align: center;
  margin: auto;
  font-weight: 600;
  transition: color .8s;
  margin-top: -2em;
}

.pdf:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    width: 100%
  }

  .contact-list {
    width: 80%;
    box-shadow: none;
  }

  .chat-window {
    width: 100%;
    box-shadow: none;
  }

  .pdf {
    width: 20vw;
  }
}
