<div class="ad-container">
    <div class="img-container">
      <img src="https://source.unsplash.com/random">
    </div>
    <div class="info">
      <p class="price">{{price | currency: 'USD'}}</p>
      <p class="name">{{name}}</p>
      <div class="location">
        <p>Kraków, Poland</p><i class="far fa-heart"></i>
      </div>
      <div class="additional">
        <i class="fas fa-home"></i>
        <p>65m<sup>2</sup></p>
        <i class="fas fa-bed"></i>
        <p>2</p>
        <i class="fas fa-bath"></i>
        <p>3</p>
      </div>
    </div>
  </div>
